* {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
/* Common Styles */
.btn-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #469165;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.btn-fill:hover {
  color: #469165;
  background: #fff;
  border: 2px solid #469165;
}
.btn-no-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-no-fill:hover {
  color: #469165;
  border: 2px solid #469165;
}
nav {
  height: 92px;
  margin: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.menu ul li a:hover {
  color: #469165;
}
#hero {
  height: 674px;
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  padding: 115px 295px 295px;
}
#hero .hero-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
}
#hero .hero-wrapper .info-textbox {
  color: #469165;
  background: #fff;
  padding: 8px 12px;
  border-radius: 1000px;
}
.title-highlight {
  color: #469165;
}
.hero-text {
  text-align: center;
}
.hero-text h1 {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 16px;
}
.hero-text p {
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.hero-btn {
  display: flex;
  margin: 32px auto;
  gap: 16px;
}
