* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
/* Common Styles */
.btn-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #469165;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.btn-fill:hover {
  color: #469165;
  background: #fff;
  border: 2px solid #469165;
}
.btn-no-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-no-fill:hover {
  color: #469165;
  border: 2px solid #469165;
}
nav {
  height: 92px;
  margin: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.menu ul li a:hover {
  color: #469165;
}
#hero {
  height: 674px;
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 295px 295px;
}
#hero .hero-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
}
#hero .hero-wrapper .info-textbox {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #469165;
  background: #fff;
  padding: 8px 12px;
  border-radius: 1000px;
  margin: 0 auto;
}
.info-textbox img {
  margin-top: 4px;
}
.title-highlight {
  color: #469165;
}
.hero-text {
  text-align: center;
}
.hero-text h1 {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 16px;
}
.hero-text p {
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.hero-btn {
  display: flex;
  margin: 32px auto;
  gap: 16px;
}
#notes {
  background: #fbfbfb;
  padding-top: 50px;
  /* max-width: 1600px; */
  /* margin: 0 auto; */
}
.notes-info {
  text-align: center;
  margin-bottom: 44px;
}
.notes-info h1,
.brain-wrapper h1 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.notes-info p,
.brain-wrapper p,
.thing-wrapper p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #627382;
  margin-bottom: 16px;
}
.notes-card {
  display: flex;
  padding: 0 120px;
  max-width: 1600px;
  gap: 24px;
  margin: 0 auto;
}
.card {
  text-align: center;
  width: 322px;
  margin: 0 auto;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.notes-card img {
  height: 32px;
  width: 32px;
  margin: 0 auto;
}
.div-icon {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-top: 69.5px;
  margin-bottom: 16px;
}
.card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 69.5px;
}
#second-brain {
  background: #fff;
  margin: -60px auto 0;
  position: relative;
}
.brain-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1600px;
  padding: 120px;
  margin: 0 auto;
}
.brain-wrapper ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 16px;
}
.brain-wrapper h4 {
  text-transform: uppercase;
  font-size: 16px;
  list-style: 20px;
  color: #469165;
  font-weight: 600;
  margin-bottom: 16px;
}
.brain-wrapper ul li img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 6px;
}
#think {
  max-width: 1600px;
  padding: 0 120px;
  margin: 0 auto;
}
.thing-wrapper {
  max-width: 1360px;
  background: #f7f6f2;
  padding: 80px 40px;
  border-radius: 12px;
  text-align: center;
}
.thing-wrapper h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.btn-fill-ready {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #469165;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
}
.btn-fill-ready:hover {
  color: #469165;
  background: #fff;
  border: 2px solid #469165;
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
}
footer {
  height: 348px;
  background: #001931;
  margin-top: 120px;
}
.footer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 120px 0 120px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.social p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
}
.social-icon {
  padding-top: 16px;
}
.social a {
  color: #000;
  background-color: #f7f6f2;
  border-radius: 50%;
  padding: 2px;
  margin-right: 14px;
}
.copyright-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.copyright {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-top: 80px;
  margin-bottom: 30px;
}
.separator {
  height: 1px;
  width: 100%;
  background: #e5e7eb;
  opacity: 50%;
}
.copyright p {
  text-align: center;
  padding: 30px 0;
}
