* {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
/* Common Styles */
.btn-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #469165;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.btn-fill:hover {
  color: #469165;
  background: #fff;
  border: 2px solid #469165;
}
.btn-no-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-no-fill:hover {
  color: #469165;
  border: 2px solid #469165;
}
nav {
  height: 92px;
  margin: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.menu ul li a:hover {
  color: #469165;
}
#hero {
  height: 674px;
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 295px 295px;
}
#hero .hero-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
}
#hero .hero-wrapper .info-textbox {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #469165;
  background: #fff;
  padding: 8px 12px;
  border-radius: 1000px;
}
.info-textbox img {
  margin-top: 4px;
}
.title-highlight {
  color: #469165;
}
.hero-text {
  text-align: center;
}
.hero-text h1 {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 16px;
}
.hero-text p {
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.hero-btn {
  display: flex;
  margin: 32px auto;
  gap: 16px;
}
#notes {
  background: #fbfbfb;
  padding-top: 50px;
  /* max-width: 1600px; */
  /* margin: 0 auto; */
}
.notes-info {
  text-align: center;
  margin-bottom: 44px;
}
.notes-info h1,
.brain-wrapper h1 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.notes-info p,
.brain-wrapper p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #627382;
  margin-bottom: 16px;
}
.notes-card {
  display: flex;
  padding: 0 120px;
  max-width: 1600px;
}
.card {
  text-align: center;
  vertical-align: middle;
  width: 322px;
  margin: 0 auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.notes-card img {
  height: 32px;
  width: 32px;
}
.div-icon {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-top: 69.5px;
  margin-bottom: 16px;
}
.card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 69.5px;
}

.brain-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px;
}
.brain-wrapper ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 16px;
}
.brain-wrapper h4 {
  text-transform: uppercase;
  font-size: 16px;
  list-style: 20px;
  color: #469165;
  font-weight: 600;
  margin-bottom: 16px;
}
.brain-wrapper ul li img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 6px;
}
