* {
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Common Styles */
.btn-fill {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #469165;
  border: none;
  border-radius: 4px;
}
nav {
  height: 92px;
  margin: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
